body {
  font-family: 'Segoe UI', sans-serif;
  background-color:  #fcefef; 
  margin: 0;
  padding: 0;
}
.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  background-color: ;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  z-index: 1000;
  
  
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 1rem 1rem 0.5rem; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  height: 100px;
   width: 100px ;
}

.nav-list {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-link {
  color: var(--black-color);
  font-weight: var(--font-bold);
  transition: color 0.3s ease;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--first-color);
}

.gallery {
  max-width: 1200px;
  margin: 40px auto;
  background-color: #fff;
  border: 2px solid rgb(107, 52, 28); 
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 8px 20px  solid #d4a373 ;
}

.gallery h2 {
  text-align: center;
  font-size: 2.5rem;
  color: rgb(107, 52, 28); 
  margin-bottom: 30px;
  font-weight: 600;
}

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gallery-row img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.gallery-row img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(198, 157, 163, 0.6); 
}
